@page
@model RazorPagesToDo.Pages.Tickets.IndexModel
@{
    Layout = "_Layout";
}

<style>
    .flex-container {
        display: flex;
        background-color: #f1f1f1;
    }

</style>

<div class="flex items-center justify-between flex-wrap p-0">
    <div>
        <h3 class="pt-4 pb-lg-5">Tickets List</h3>
    </div>
    <div>
        <a asp-page="/Tickets/New" class="btn btn alert-success" value="New">Add New</a>
    </div>
</div>
<div class="container">

    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model.TicketsList)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.LastStatus</td>
                    <td><a asp-page="/Tickets/Details" asp-route-id="@item.Id">Details</a></td>
                </tr>
            }
        </table>
    </div>
</div>

