@page
@model RazorPagesToDo.Pages.Tickets.NewModel
@{
}


<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="mt-3 mb-2">Enter Title (<small><span class="text-red-300">Rquired *</span></small>)</label>
        <textarea class="form-control" name="title" cols="10" rows="5"></textarea>        
        <label class="mt-3 mb-2">Supported Files</label>
        <input type="file" class="form-control" name="Upload" multiple="true" value="" />

        <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold my-2 py-2 px-4 rounded" value="Save" />
    </div>
</form>