@page
@model RazorPagesToDo.Pages.LoginModel
@{
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 border-1 bg-light p-lg-5">
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control m-3" name="UserName" placeholder="User Name" value="" />
                    <input type="password" class="form-control m-3" name="Password" placeholder="Password" value="" />
                    <input type="submit" class="btn btn-outline-success m-3" value="Login" />
                </div>
            </form>            
        </div>
        <div class="col-md-4"></div>
    </div>
</div>